[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
flask = "*"
matplotlib = "*"
waitress = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
